<div class="content-wrapper">
    <div class="images">
      <div class="main-image">    
            <img class="main-image-image" [src]="mainImage.url" alt="Photo of {{product?.name}}">
      </div>
      <div class="other-images">
          <img class="other-image" *ngFor="let image of otherImages" [src]="image.url">
      </div>
    </div>
   <div class="details">
      <mat-card-title>{{ product?.name }}</mat-card-title>
      <mat-card-subtitle>{{ product?.price }}</mat-card-subtitle>
      <div class="form">
          <mat-form-field *ngIf="needsSize" appearance="fill">
            <mat-label>Size</mat-label>
            <mat-select [formControl]="size">
              <mat-option value="XS">X-Small</mat-option>
              <mat-option value="S">Small</mat-option>
              <mat-option value="M">Medium</mat-option>
              <mat-option value="L">Large</mat-option>
              <mat-option value="XL">X-Large</mat-option>
              <mat-option value="2XL">2X-Large</mat-option>
              <mat-option value="3Xl">3X-Large</mat-option>
            </mat-select>
            <mat-error *ngIf="size.invalid">{{getSizeErrorMessage()}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
              <mat-label>Quantity</mat-label>
              <input  type="number" min="1" max="50" matInput required [formControl]="quantity" >
              <mat-error *ngIf="quantity.invalid">{{getQuantityErrorMessage()}}</mat-error>
          </mat-form-field>
      </div>
      <div class="add-to-cart">
        <app-add-to-cart-button 
            [disabled]="quantity.invalid || (needsSize && size.invalid)" 
            matTooltip="Select a size and enter a valid quantity."
            [matTooltipDisabled]="!(quantity.invalid || size.invalid)" 
            [size]="size.value ?? Size.NOT_SET" 
            [quantity]="quantity.value ?? 0" 
            [product]="product">
        </app-add-to-cart-button>
      </div>
      <mat-divider></mat-divider>
      <div class="product-details">
        <mat-card-title>Product Details</mat-card-title>
        <mat-card-content>
          <p>The lightweight performance layer that levels up your workouts. Seamlessly constructed with sweat-wicking and anti-stink tech and designed with thumb-loop cuffs to keep your sleeves in place no matter the activity.</p>
        </mat-card-content>
      </div>
      <mat-divider></mat-divider>
      <div *ngIf="similarProducts.length > 0" class="similar-products">
          <mat-card-title>Similar Products</mat-card-title>
          <div class="similar-products-container">
            <store-product-card *ngFor="let product of similarProducts" [isSimilarProductCard]="true" [product]="product" class="list-item"></store-product-card>
          </div>
      </div>
    </div>
  </div>