$sidenav-width: 240px;

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  background-color: black;
}

.player {
  width: 100%;
}

.controls {
  display: flex;
  flex-direction: row;
}

.slider {
  width: 100%;
}

mat-card {
  padding: 0px;
  border-radius: 0px;
}

// .volume-slider {
//   position: absolute;
//   display: none;
// }

// .mute-button:hover + .volume-slider {
//   display: block;
// }
