    <!-- <app-music-player-details [mix]="mix"></app-music-player-details>
    <button [disableRipple]="true" (click)="togglePlaying()" mat-button aria-label="play button">
        <mat-icon *ngIf="mix?.isCurrentlyPlaying; else elseBlock">pause</mat-icon>
        <ng-template #elseBlock>
            <mat-icon >play_arrow</mat-icon>
        </ng-template>
    </button> -->

<div class="wrapper">
    <div class="custom-player">
        <mat-card class="controls">
            <app-play-button class="player-button" [mix]="mix"></app-play-button>
            <app-music-player-slider class="slider" [mix]="mix"></app-music-player-slider>
            <app-repeat-button class="player-button"></app-repeat-button>
            <app-mute-button class="player-button"></app-mute-button>
        </mat-card>
        <mat-card class="details">
            <app-music-player-details [mix]="mix"></app-music-player-details>
        </mat-card>
    </div>

    <!-- <ngx-audio-player class="player" [playlist]="msaapPlaylist" [displayTitle]="msaapDisplayTitle" [autoPlay]="false" 
    muted="muted" [displayPlaylist]="msaapDisplayPlayList"
        [displayVolumeControls]="msaapDisplayVolumeControls" [displayRepeatControls]="msaapDisplayRepeatControls"
        [disablePositionSlider]="msaapDisablePositionSlider" [displayArtist]="msaapDisplayArtist" 
        [displayDuration]="msaapDisplayDuration" [expanded]="true"></ngx-audio-player>  -->
</div>
