<div [@.disabled]="false" class="event-accordion-container">
    <mat-accordion>
        <mat-expansion-panel *ngFor="let event of events" expanded="false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ event.title }}
            </mat-panel-title>
            <mat-panel-description>
              {{ event.startTime | date: 'shortTime' }}
            </mat-panel-description>
          </mat-expansion-panel-header> 
            <p routerLink="/events/{{event.calendarEventId}}" [state]="event" class="link" [mat-dialog-close]="true">{{ event.description }} (Click to View)</p>
        </mat-expansion-panel>
    </mat-accordion>
</div>
