<ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
   <button mat-icon-button aria-label="logout button"
        (click)="
            auth.logout({
                logoutParams: { returnTo: document.location.origin }
            })
        "
    >
    <mat-icon>logout</mat-icon>
    </button>
</ng-container>

<ng-template #loggedOut>
    <button mat-icon-button aria-label="login button" (click)="auth.loginWithRedirect()">
        <mat-icon>login</mat-icon>
    </button>
</ng-template>