.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media screen and (max-width: 1054px) {
    justify-content: center;
  }
}

.list::after {
  @media screen and (min-width: 1054px) {
    content: "";
    flex: auto;
  }
}
