<div>
    <div class="event-details event-section">
        <mat-card-subtitle>Details</mat-card-subtitle>
        <mat-card-content>
            <p>{{calendarEvent.longDescription}}</p>
        </mat-card-content>
    </div>
    <mat-divider class="calendar-event-divider"></mat-divider>
    <div class="event-time-and-location event-section">
        <mat-card-subtitle>Time/Location</mat-card-subtitle>
        <mat-card-content>
            <p><span class="bold-span">Start Time: </span>{{ calendarEvent.startTime.toLocaleDateString('default', {
                day: '2-digit',
                month: 'short',
                year: 'numeric',
                hour: 'numeric',
                hour12: true, 
                minute: '2-digit'
              }) }}</p>
            <p><span class="bold-span">End Time: </span>{{calendarEvent.endTime.toLocaleDateString('default', {
                day: '2-digit',
                month: 'short',
                year: 'numeric',
                hour: 'numeric', 
                hour12: true, 
                minute: '2-digit'
              }) }}</p>
            <p><span class="bold-span">Location: </span><a class="calendar-event-location-button" target="_blank" mat-button [href]="calendarEvent.location.address">{{calendarEvent.location.name}} <mat-icon>open_in_new</mat-icon></a></p>
        </mat-card-content>
    </div>
    <mat-divider class="calendar-event-divider"></mat-divider>
    <div class="event-additional-info event-section">
        <mat-card-subtitle>Additional Info</mat-card-subtitle>
        <mat-card-content>
            Based on the latest local guidelines, attendees are no longer required to provide proof of negative COVID-19 test AND/OR vaccination for entry into this event. Be sure to check your venue website for the latest updates and guidelines as entry requirements are subject to change.
        </mat-card-content>
        <img mat-card-xl-image [src]="calendarEvent.descriptionImageUrl">
    </div>
</div>
