.calendar-event-divider {
	position: relative;
}

.bold-span {
    font-size: large;
    font-weight: bolder;
}

.event-section {
    margin-top: 16px;
}

.calendar-event-location-button {
    padding: 0px;
    line-height: normal;
}