<mat-toolbar class="toolbar">
  <button
    *ngIf="screenIsSmall"
    mat-icon-button
    aria-label="menu icon"
    (click)="toggleSidenav.emit()"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <span *ngIf="screenIsSmall" class="toolbar-spacer"></span>
  <span *ngIf="screenIsSmall; else fullName">DBR</span>
  <ng-template #fullName>  <span>DATABOY RADIO</span></ng-template>

  <span *ngIf="screenIsMediumOrLess" class="toolbar-spacer"></span>

  <app-auth-button></app-auth-button>

  <button
  *ngIf="screenIsMediumOrLess"
  mat-icon-button
  aria-label="calendar icon"
  (click)="toggleEvents.emit()"
  >
    <mat-icon>event</mat-icon>
  </button>
</mat-toolbar>
