$card-max-width: 300px;
$card-min-width: 300px;
$card-height: 400px;
$similar-product-max-width: 150px;
$similar-product-min-width: 150px;
$similar-product-height: 150px;

.similar-product-card {
  max-width: $similar-product-max-width;
  min-width: $similar-product-min-width;
  margin: 5px;

  @media screen and (max-width: 600px) {
    max-width: $card-max-width;
    min-width: $card-min-width;
  }
}

.similar-product-card > .img-wrapper {
  height: $similar-product-height;
  min-width: calc($similar-product-min-width + 32px);
  max-width: calc($similar-product-max-width + 32px);
  height: $similar-product-height;
  margin: 0 -16px 16px -16px;
  background-color: #424242;

  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (max-width: 600px) {
    height: 100%;
    min-width: calc($card-min-width + 32px);
    max-width: calc($card-max-width + 32px);
  }
}

.product-card {
  max-width: $card-max-width;
  min-width: $card-min-width;
  margin: 25px;
}

img {
  margin: 0px;
  width: 100%;
}

.mat-card-image:first-child {
  margin-top: 0px;
}

.product-card > .img-wrapper {
  min-width: calc($card-min-width + 32px);
  max-width: calc($card-max-width + 32px);
  height: $card-height;
  margin: 0 -16px 16px -16px;
  background-color: #424242;

  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (max-width: 1054px) {
    height: 100%;
  }
}
