<div class="wrapper">
    <div class="time-wrapper">
        <span>{{ sliderPosition | time }}</span>
    </div>
    <mat-slider 
        (change)="onSliderChange(+(slider.value))"
        (input)="onSliderDrag()"
        [min]="0"
        [max]="mix?.duration"
        [step]="0.1">
        <input matSliderThumb [value]="sliderPosition" #slider>
    </mat-slider>
    <div class="time-wrapper">
        <span *ngIf="mix; else elseBlock">{{ mix.duration ? (mix.duration | time) : mix.duration }}</span>
        <ng-template #elseBlock>
            <span>0:00</span>
        </ng-template>
    </div>
</div>

