<mat-card [class.first]="isFirst" [class.last]="isLast" mat-list-item class="mix-card mat-elevation-z0">
    <div class="play-and-info">
        <app-play-button [mix]="mix"></app-play-button>
        <div class="info">
            <mat-card-title [class.small-screen-title]="screenIsSmall">{{ mix.title }}</mat-card-title>
        </div>
    </div>
    <div class="like-section">
        <div>
            <app-like-button (clickLikeButtonEvent)="updateMixLikes($event)" [likes]="mix.likes"></app-like-button>
        </div>
    </div>
</mat-card>
