@use "@angular/material" as mat;

.mix-card {
	display: flex;
	justify-content: space-between;

	padding-left: 0px;
}

// .first {
//   border-radius: 4px 4px 0px 0px;
// }

// .last {
//   border-radius: 0px 0px 4px 4px;
// }

.play-and-info {
	display: flex;
	justify-content: flex-start;
}

mat-card-title {
	margin: 0px;
}

.small-screen-title {
	font-size: 16px;
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
