<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer
    #drawer
    class="sidenav mat-elevation-z10"
    [opened]="!screenIsSmall"
    [mode]="screenIsSmall ? 'over' : 'side'"
  >
    <mat-toolbar class="menu-title">MENU</mat-toolbar>
    <mat-nav-list role="list">
      <a mat-list-item routerLink="/" [routerLinkActive]="['is-active-link']" [routerLinkActiveOptions]="{ exact: true }" role="listitem">Home</a>
      <a mat-list-item routerLink="/mixes" [routerLinkActive]="['is-active-link']" role="listitem">Mixes</a>
      <a mat-list-item routerLink="/events" [routerLinkActive]="['is-active-link']" role="listitem">Events</a>
      <a mat-list-item routerLink="/store" [routerLinkActive]="['is-active-link']" role="listitem">Store</a>
    </mat-nav-list>
  </mat-drawer>

  <div class="sidenav-content">
    <app-toolbar
    [screenIsSmall]="screenIsSmall"
    (toggleSidenav)="drawer.toggle()"
    (toggleEvents)="eventsPanel.toggle()"
    [screenIsMediumOrLess]="screenIsMediumOrLess"
  ></app-toolbar>
    <div class="content">

      <div class="wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>

      <app-music-player 
        class="footer" 
        [screenIsSmall]="screenIsSmall" 
        [class.smallScreenPlayer]="screenIsSmall">
      </app-music-player>
  </div>
  
<mat-drawer
  #eventsPanel
  class="event-panel mat-elevation-z10"
  [opened]="!(screenIsMediumOrLess)"
  [mode]="screenIsMediumOrLess ? 'over' : 'side'"
  position="end"
>
  <mat-toolbar class="menu-title">UPCOMING EVENTS</mat-toolbar>
  <app-events-side-panel></app-events-side-panel>
</mat-drawer>
</mat-drawer-container>
