<mat-card mat-list-item class="release-card">
    <div class="release-title-and-like-button">
        <div class="release-title-container">
            <mat-card-title class="release-title">
                {{release.title}}
            </mat-card-title>
        </div>
        <app-like-button [isClicked]="alreadyLiked" (clickLikeButtonEvent)="updateReleaseLikes()" [likes]="release.likes"></app-like-button>
    </div>
    <mat-divider class="release-divider"></mat-divider>
    <mixes-list [releaseId]="release.releaseId" [subscriberId]="subscriberId"></mixes-list>
</mat-card>
