<div class="content-wrapper" mat-dialog-content>
    <div class="images">
      <div class="main-image">    
            <img class="main-image-image" [src]="product?.img" alt="Photo of {{product?.name}}">
      </div>
      <div class="other-images">
          <img class="other-image" *ngFor="let image of product?.otherImages" [src]="image">
      </div>
    </div>
   <div class="details">
      <mat-card-title>{{ product?.name }}</mat-card-title>
      <mat-card-subtitle>{{ product?.price }}</mat-card-subtitle>
      <div class="form">
          <mat-form-field appearance="fill">
            <mat-label>Size</mat-label>
            <mat-select #size>
              <mat-option value="xs">X-Small</mat-option>
              <mat-option value="s">Small</mat-option>
              <mat-option value="m">Medium</mat-option>
              <mat-option value="l">Large</mat-option>
              <mat-option value="xl">X-Large</mat-option>
              <mat-option value="xxl">2X-Large</mat-option>
              <mat-option value="xxxl">3X-Large</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
              <mat-label>Quantity</mat-label>
              <input #quantity type="number" matInput >
            </mat-form-field>
      </div>
      <div class="add-to-cart">
        <app-add-to-cart-button [quantity]="+quantity.value" [product]="product"></app-add-to-cart-button>
      </div>
      <div class="product-details">
        <mat-card-title>Product Details</mat-card-title>
        <mat-card-content>
          <p>The lightweight performance layer that levels up your workouts. Seamlessly constructed with sweat-wicking and anti-stink tech and designed with thumb-loop cuffs to keep your sleeves in place no matter the activity.</p>
        </mat-card-content>
      </div>
      <div *ngIf="similarProducts.length > 0" class="similar-products">
          <mat-card-title>Similar Products</mat-card-title>
          <p *ngFor="let similarProduct of similarProducts">{{ similarProduct.name }}</p>
      </div>
    </div>
  </div>
  <!-- <div mat-dialog-actions>
    <button mat-button (click)="onBackClick()">BACK</button>
  </div> -->