.content-wrapper {
  display: flex;

  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
}

.images,
.details {
  width: 50%;
  padding: 10px;
}

.main-image-image {
  width: 100%;
  margin: 0;
}

.main-image {
  padding: 5px;
}

.form {
  display: flex;
  align-items: center;
}

.add-to-cart {
  padding-bottom: 1.34375em;
}

.other-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

.other-image {
  margin: 0;
  width: 30%;
}
