<div class="content-wrapper" mat-dialog-content>
  <div class="images">
    <div class="main-image">    
        <div class="img-wrapper">
            <img class="main-image" mat-card-image [src]="data.product.img" alt="Photo of {{data.product.name}}">
        </div>
    </div>
    <div class="other-images"></div>
  </div>
  <div class="details">
    <mat-card-title>{{ data.product.name }}</mat-card-title>
    <mat-card-subtitle>{{ data.product.price }}</mat-card-subtitle>
    <div class="form">
        <mat-form-field appearance="fill">
            <mat-label>Quantity</mat-label>
            <input #quantity type="number" matInput [(ngModel)]="data.quantity">
          </mat-form-field>
        <div class="add-to-cart">
            <button (click)="onAddToCartClick(quantity.value)" mat-button>ADD TO CART</button>
        </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">CLOSE</button>
</div>