mat-calendar {
  max-width: calc(89vh - 164px);
  flex-grow: 1;
}

.calendar-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button.calendar-event {
  background: orange;
  border-radius: 100%;
}
