<div [@.disabled]="true">
    <mat-accordion>
        <mat-expansion-panel *ngFor="let event of events" expanded="false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ event.title }}
            </mat-panel-title>
            <mat-panel-description>
              {{ event.startTime.toLocaleTimeString('default', { 
                  hour: 'numeric', 
                  hour12: true, 
                  minute: '2-digit' 
                 }) 
               }}
            </mat-panel-description>
          </mat-expansion-panel-header>
            <p>{{ event.description }}</p>
        </mat-expansion-panel>
    </mat-accordion>
</div>
