<mat-toolbar>
  <button
    *ngIf="screenIsSmall"
    mat-icon-button
    aria-label="menu icon"
    (click)="toggleSidenav.emit()"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <span *ngIf="screenIsSmall" class="toolbar-spacer"></span>

  <span>DATABOY RADIO</span>
  
  <span *ngIf="screenIsSmall" class="toolbar-spacer"></span>

  <button
  *ngIf="screenIsSmall"
  mat-icon-button
  aria-label="calendar icon"
  (click)="toggleEvents.emit()"
  >
    <mat-icon>event</mat-icon>
  </button>
</mat-toolbar>
