<mat-card class="product-card">
    <mat-card-header>
      <mat-card-title>{{ product.name}} </mat-card-title>
      <mat-card-subtitle>{{ product.type }}</mat-card-subtitle>
      <mat-card-subtitle>{{ product.price }}</mat-card-subtitle>
    </mat-card-header>
    <div class="img-wrapper">
      <img mat-card-image [src]="product.img" alt="Photo of {{product.name}}">
    </div>
    <mat-card-actions>
      <app-add-to-cart-button [quantity]="1" [product]="product"></app-add-to-cart-button>
      <store-product-dialog [product]="product"></store-product-dialog>
    </mat-card-actions>
  </mat-card>
  
